.desktop-36,
.desktop-36 * {
  box-sizing: border-box;
}
.desktop-36 {
  background: #ffffff;
  height: 200vh;
  position: relative;
  overflow: hidden;
}
.frame-43 {
  background: #fff5fb;
  width: 100%;
  height: 84px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.frame-44 {
  display: flex;
  flex-direction: row;
  gap: 36px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 30px;
  top: calc(50% - 12px);
}
.search {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.notifications-none {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.account-circle {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.ilogo {
  width: 80%px;
  height: 60.5;
  position: absolute;
  left: 10px;
  top: 10px;
  object-fit: cover;
}
.frame-45 {
  background: #1f0615;
  width: 360px;
  height: 940px;
  position: absolute;
  left: 0px;
  top: 84px;
  overflow: hidden;
}
.frame-46 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 50px;
  top: 50px;
}
.frame-47 {
  background: #8c4a6f;
  border-radius: 6px;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.dashboard {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: relative;
}
.frame-48 {
  border-radius: 6px;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.grades {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: relative;
}
.frame-49 {
  border-radius: 6px;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.schedule {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: relative;
}
.frame-50 {
  border-radius: 6px;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.courses {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: relative;
}
.frame-51 {
  border-radius: 6px;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.faculties {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: relative;
}
.frame-52 {
  border-radius: 6px;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.attendance {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: relative;
}
.frame-53 {
  border-radius: 6px;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.extra-curricular {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: relative;
}
.frame-502 {
  border-radius: 6px;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50px;
  bottom: 50px;
}
.logout {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.logout2 {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: relative;
}
.hidden {
    display: none;
}